@charset "UTF-8";

/* Tudo que em HTML é id    em CSS é #
   Tudo que em HTML é class  em CSS é . (ponto) */

body {
  background-color: rgba(120, 178, 226, 0.61);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(4, 109, 0);
}

h1#principal {
  text-align: center;
  background-color: blanchedalmond;
  color: aqua;
}

h2 {
  color: rgb(43, 54, 148);
}

.basico { color: rgb(73, 109, 71);;

}

.intermediario { color: rgb(153, 210, 233);

}

.avancado { color: rgb(133, 36, 36);

}