@charset "UTF-8";


* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
  
  background-image: linear-gradient(to right, #16333f, #4b777c);
  display: grid;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin: 20px;
}



main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 3px #7ed0d95e;
  width: 600px;
  padding: 10px;
  margin: auto;
}
h1 {
  background-color: #3FB2BF;
color: #BF4B54;
text-align: center;
text-shadow: 1px 1px 2px #6e2c31;
margin: auto;
border: 2px solid 

}

h2 {color: #035AA6;
  text-align: center;
  text-shadow: 1px 1px 1px #033b6d;


}
p {
  text-align: justify;
}