@font-face {
  font-family: idroid;
  src: url('/material\ projeto/fontes/idroid') format(opentype);
}
body {
  font-family: "idroid";
  background-color: #84E1AD;
}

h1 {
  display: flexbox;
  text-align: center;
  color: white;
  height: 210px;
  background-image: linear-gradient(to bottom, #39CC7A, #1A5C38);
  font-family: monospace;
  font-size: 40px;
  margin: none;
  
   }



   span {
    margin-top: 0px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;

   }
   nav {
    display: flex;
    font-size: 16px;
    margin: 0;
   }
    p {
      margin: 0;
    }
   
   
   #menu > p {
    margin-right: 15px;
    margin-left: 10px;
   }
  
   section {
    min-width: 280px;
    max-width: 1000px;
    width: 1000px;
    background-color: white;
    margin: auto;
   }


   .titulo {
    font-size: 25px;
    color: #247a4b;
    margin-left: 40px;
   }

   .subtitulos {
    font-size: 18px;
    color: #247a4b;
    margin-left: 10px;
   }

   article {
    text-indent: 20px;
    margin: 20px;
    text-align: justify;
   }
   .conteudo { 
    min-width: 300px;
    max-width: 1000px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
   }
   
   img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   }
   h4 {
    text-indent: 20px;
    height: 50px;
    width: 850px ;
   
    
    background-color: #39CC7A;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
   }
   div {background-color: lightblue;
    height: auto;
    margin-top: none;
   
  }
  footer {
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 12px;
    height: auto;
    width: auto;
    background-color: #39CC7A;
   
  }
   